<?xml version="1.0"?>
<configuration>
	<system.diagnostics>
    <switches>
      <!-- This switch controls data messages. In order to receive data 
         trace messages, change value="0" to value="1" -->
      <add name="DataMessagesSwitch" value="0"/>
      <!-- This switch controls general messages. In order to 
         receive general trace messages change the value to the 
         appropriate level. "1" gives error messages, "2" gives errors 
         and warnings, "3" gives more detailed error information, and 
         "4" gives verbose trace information -->
      <add name="TraceLevelSwitch" value="0"/>
    </switches>

    <sharedListeners>
			<add name="ErrorListener" type="ThermoLogging.ThermoLogging_TextWriterTraceListener, ThermoLogging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=053a2da76d7953d8" initializeData=".\FHT59N3_ErrorLog,ddMM">
				<filter type="System.Diagnostics.EventTypeFilter" initializeData="Error"/>
			</add>
			<add name="NormalListener" type="ThermoLogging.ThermoLogging_TextWriterTraceListener, ThermoLogging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=053a2da76d7953d8" initializeData=".\FHT59N3_ServiceLog,,20000000">
				<filter type="System.Diagnostics.EventTypeFilter" initializeData="Off"/>
			</add>
		</sharedListeners>
		<trace autoflush="true" indentsize="2">
			<listeners>
				<add name="ErrorListener"/>
				<add name="NormalListener"/>
			</listeners>
		</trace>
		<!--
		Off			Lässt keine Ereignisse zu.
		Critical	Lässt nur Critical-Ereignisse zu.
		Error		Lässt das Critical-Ereignis und das Error-Ereignis zu.
		Warning		Lässt das Critical-Ereignis, das Error-Ereignis und das Warning-Ereignis zu.
		Information Lässt das Critical-Ereignis, das Error-Ereignis, das Warning-Ereignis und das Information-Ereignis zu.
		Verbose		Lässt das Critical-Ereignis, das Error-Ereignis, das Warning-Ereignis, das Information-Ereignis und das Verbose-Ereignis zu.
		All			Lässt alle Ereignisse zu.
		initializeData=".\FHT59N3_ErrorLog,yyMMdd"
		initializeData=".\FHT59N3_ServiceLog,,20000000"
		-->
	</system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
